body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

body {
  background-color: #060606;
}

canvas {
  position: absolute;
  display: block !important;
}

#countdownMessage {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 6em;
  transform: translateX(-50%) translateY(-50%)
}

.c-ckolor__input-wrapper {
  height: auto;
}

.position-name {
  font-size: 1.2em;
}

.position-total,
.position-average.badge {
  font-size: 1.2em;
}

.durations-row {
  margin-top: 20px;
}

.durations-row .badge {
  margin: 10px;
  background-color: #3F51B5;
  font-size: 1.1em;
}

